body{
	padding:0;
	margin:0
}

html,body,#map{
	height:100%
}

#inputarea{
	position:absolute;
	#height:50px;
	left:-7px;
	top:200px;
	padding:20px;
	z-index:10;
	background-color:#000;
	font-size:35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	border:2px solid #000;
	border-radius:3px;
	opacity:.85
}
