body{
	padding:0;
	margin:0
}

html,body,#map{
	height:100%
}

#inputarea{
	position:absolute;
	#height:50px;
	left:-7px;
	top:200px;
	padding:20px;
	z-index:10;
	background-color:#000;
	font-size:25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	border:2px solid #000;
	border-radius:3px;
	opacity:.80
}

#redo, #locateMe, #editOSM{
	font-size:15px;
    cursor:pointer;
}

#redo:hover, #locateMe:hover, #editOSM:hover{
	color: grey;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #fff; 
	cursor: default; 
	overflow: auto; 
}
.autocomplete-suggestion { 
	padding: 5px 5px; 
	font-size: 1.2em; 
	white-space: nowrap; 
	overflow: hidden; 
}

.autocomplete-selected { 
	background: #f0f0f0; 
}
.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #428bca; 
}